<table>
    <thead>
        <tr>
            <th colspan="2">PROPERTY DETAILS</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Owner's name:</td>
            <td><%= propertyData.taxpayerName %></td>
        </tr>
        <tr>
            <td>Property Name:</td>
            <td><%= propertyData.propName %></td>
        </tr>
        <tr>
            <td>Property Name:</td>
            <td><%= propertyData.propName %></td>
        </tr>
        <tr>
            <td>Jurisdiction:</td>
            <td><%= propertyData.jurisdiction %></td>
        </tr>
        <tr>
            <td>Present Use:</td>
            <td><%= propertyData.presentUse %></td>
        </tr>
        <tr>
            <td>Property value:</td>
            <td><%=propertyData.appValue %></td>
        </tr>
        <tr>
            <td>Lot Square Footage:</td>
            <td><%=propertyData.lotSqft %></td>
        </tr>
    </tbody>
</table>