<!DOCTYPE html>

<html lang="en">

   <head>
    <%- include partials/head %>
    </head>

    <body id="savedBuildingsPage">
       

           <%- include partials/nav%>

        
            <div class = "container">
                <header>
                    <img id = "logo" src="../public/css/img/logo1.png" alt='logo'>
                    
                </header>
            
                <main>
                        <h3>SAVED BUILDINGS: <%=  propertyData.length %></h2>   
                        <ul>
                            <% propertyData.forEach(item => { %>
                                <li>
                                    <h2><%= item.address%></h2>
                                    <section class = "buildingData">
                                        <table>
                                            <thead>
                                                <tr>
                                                    <th colspan="2">PROPERTY DETAILS</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td>Owner's name:</td>
                                                    <td><%= item.taxpayer_name %></td>
                                                </tr>
                                                <tr>
                                                    <td>Property Name:</td>
                                                    <td><%= item.prop_name %></td>
                                                </tr>
        
                                                <tr>
                                                    <td>Jurisdiction:</td>
                                                    <td><%= item.jurisdiction %></td>
                                                </tr>
                                                <tr>
                                                    <td>Present Use:</td>
                                                    <td><%= item.present_use %></td>
                                                </tr>
                                                <tr>
                                                    <td>Property value:</td>
                                                    <td><%=item.app_value %></td>
                                                </tr>
                                                <tr>
                                                    <td>Lot Square Footage:</td>
                                                    <td><%=item.lot_sqft %></td>
                                                </tr>
                                            </tbody>
                                        </table>
                                        </section>
                                    <form action="savedBuildings/<%=item.id %>" method="POST">
                                        <input type="hidden" name="_method" value="delete">
                                        <input type="hidden" name="id" value="<%= item.id %>">
                                        <button class = "delete">Delete</button>
                                    </form>
                                </li>
                                
                                <% }) %>
                                
                            </ul>
                </main>
            </div>
        <footer>
                
                <%- include partials/footer %>

            </footer>
            
    
    </body>
</html>
