<!DOCTYPE html>

<html lang="en">

        <head>
                <%- include partials/head %>
        </head>

    <body id = "searchResults"> 

            <%- include partials/nav%> 

        <div class = "container">
            <header>
                <img id = "logo" src="../public/css/img/logo1.png" alt='logo'>
                
            </header>
            <main>
                <form id="search-form" class="hide" action="searchResults" >

                    
                        <label for="search">Search for a building:</label>
                        <input type="text" name="search" id="inputSearch" placeholder="Enter a building address here" required>
                    
                    <button type="submit" class="submit">Search</button>
                </form>
                
                <div id = "displayMapContainer"> 
                    <img id ="map" src ="<%= locationData %>" alt="Map of search query">
                </div> 

                <div class = "toggle">
                    <h2>Address: <%= address%></h2>

                    <section class = "buildingImg">
                        <!-- street view -->
                    <div id="pano"></div>
                    
                    
                    
                    <!-- street view -->
                    </section>

                    <section class = "buildingData">
                        <p>Owner's name: <%= propertyData.taxpayerName %></p>  
                        <p>Property Name: <%= propertyData.propName %></p>
                        <!-- <p>Building permit: TODO: Add permit data</p> -->
                        <p>Jurisdiction: <%= propertyData.jurisdiction %></p>
                        <p>Present Use: <%= propertyData.presentUse %></p>
                        <!-- <p>Year was built: TODO: Add Year Built</p> -->
                        <p>Property value: $<%=propertyData.appValue %></p>
                        <p>Lot Square Footage: <%=propertyData.lotSqft %>sq ft</p>
                        <p id = "smallNote">*Lot lines are approximate. Not for legal use.</p>
    
                    </section>
                    <section class = "buttons">
                        <button id="save">Save Building</button>
                        <button id="newSearch">New Search</button>

                    </section>
                </div>   

                      
            </main>
        </div>

        <footer>
                <%- include partials/footer %>
        </footer>

        <!-------------------street view ------------------------------->
        <script>
                
            function initialize() {
            var fenway = {lat: <%= location.latitude %>, lng: <%=location.longitude %>};
                
                var panorama = new google.maps.StreetViewPanorama(
                    document.getElementById('pano'), {
                    position: fenway,
                    pov: {
                        heading: 34,
                        pitch: 10
                    }
                    });
                map.setStreetView(panorama);
            }
        </script>
        <script async defer
            src="https://maps.googleapis.com/maps/api/js?key=<%=process.env.GEOCODE_API_KEY%>&callback=initialize">
        </script>
        <!-- ---------------------------------- -->

    </body>
</html> 