<!DOCTYPE html>

<html lang="en">

   <head>
    <%- include partials/head %>
    </head>

    <body id="showBuildingPage">
       

        <%- include partials/nav%>

        
        <div class = "container">
            <header>
                <img id = "logo" src="../public/css/img/logo1.png" alt='logo'>
            </header>

            <main>
                <h2><%= propertyData.address%></h2>
                <section class = "buildingData">
                    <table>
                        <thead>
                            <tr>
                                <th colspan="2">PROPERTY DETAILS</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>Owner's name:</td>
                                <td><%= propertyData.taxpayer_name %></td>
                            </tr>
                            <tr>
                                <td>Property Name:</td>
                                <td><%= propertyData.prop_name %></td>
                            </tr>

                            <tr>
                                <td>Jurisdiction:</td>
                                <td><%= propertyData.jurisdiction %></td>
                            </tr>
                            <tr>
                                <td>Present Use:</td>
                                <td><%= propertyData.present_use %></td>
                            </tr>
                            <tr>
                                <td>Property value:</td>
                                <td><%=propertyData.app_value %></td>
                            </tr>
                            <tr>
                                <td>Lot Square Footage:</td>
                                <td><%=propertyData.lot_sqft %></td>
                            </tr>
                        </tbody>
                    </table>
                    </section>
                <section class="buttons">
                        <form action="/" method="GET">
                            <button>New Search</button>
                        </form>
                        <form action="/savedBuildings" method="GET">
                            <button>Saved Buildings</button>
                        </form>
                </section>
            </main>
        
        </div>  

        <footer>

            <%- include partials/footer %>

        </footer>
            
    
    </body>
</html>