<!DOCTYPE html>

<html lang="en">

   <head>
    <%- include partials/head %>
    </head>

    <body id="showBuildingPage">
       

        <%- include partials/nav%>

        
        <div class = "container">
            <header>
                <img id = "logo" src="../public/css/img/logo1.png" alt='logo'>
            </header>

            <main>
                <h2><%= propertyData.address%></h2>
                <section class = "buildingData">
                        <%- include partials/table%>
                    </section>
                <section class="buttons">
                        <form action="/" method="GET">
                            <button>New Search</button>
                        </form>
                        <form action="/savedBuildings" method="GET">
                            <button>Saved Buildings</button>
                        </form>
                </section>
            </main>
        
        </div>  

        <footer>

            <%- include partials/footer %>

        </footer>
            
    
    </body>
</html>